sentence-transformers
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-community
langchain-classic
pypdf
faiss-gpu-cu12>=1.13.0
gradio==5.12.0
gradio_toggle==2.0.2
jq
vllm
tiktoken
transformers
requests
python-dotenv